* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg,#594e69, #9285a4);
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body.active {
    background: crimson;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 64px;
    background: #e4e2e7;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;


}

.btnContainer {
    background: #e4e2e7;
    margin: 0 auto;
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timerContainer {
    background: linear-gradient(0deg, #594e69, #4b4358);
    width: 400px;
    height: 128px;
    margin: 18px auto 64px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 16px 32px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.timerContainer span {
    font-size: 88px;
    font-weight: bold;
    color: #fff;
}

button {
    width: 120px;
    height: 40px;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    color: #524961;
    font-size: 16px;
    font-weight: bold;
    transition: ease-out 200ms;
    text-transform: uppercase;
}

button.start {
    background: transparent;
}

button.pause {
    background: transparent;
}

button.start:hover {
    border-bottom: 2px solid #594e69;
}

button.pause:hover {
    border-bottom: 2px solid #594e69;

}